.main-button-href{
	color:#2b3340;
}

.main-button{
	margin-top:3%;
	margin-bottom:5%;
	border:1px solid #2b3340;
	padding:1%;
	background:transparent;
}
.main-button:hover{
	background:#2b3340;
	color:white;
}

.list-section{
	margin-left:15%;
	margin-top:-5%;
	width:100%;
}
.list-remove{
	position:relative;
	float:right;
	font-weight:700;
	margin-top:5%;
	font-size:150%;
	color:red;
}
.list-remove:hover{
	cursor:pointer;
	opacity:0.7;
}


.list-ul {
  list-style-type: none;
  width: 70%;
}
 

.list-li img {
  float: left;
  margin-top:2.5%;
  margin-right:4%;
}
 
.list-li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
.list-li {
  padding: 10px;
  padding-left:10%;
  padding-right:10%;
  overflow: auto;
}
 
.list-li:hover {
  background: #eee;
}