/*popup form */
.listing{
	width:100%;
	position: relative;
	float:left;
	margin-bottom: 3%;
}
.left-side{
	width:20%;
	position:relative;
	float:left;
	 word-wrap: break-word;
	 text-align: center;	
	 margin-bottom: 5%;
}
.right-side{
	width:50%;margin-bottom: 5%;
	margin-right:20%;
	position:relative;
	float:left;
	 word-wrap: break-word;
}

.survey-question{
	width:100%;
	margin-top:5%;
	margin-bottom:10%;
}
.question-left{
	position:relative;
	float:left;
	width:15%;
}

.question-right{
	position:relative;
	float:left;
	width:75%;
	margin-bottom:10%;
	
}

.num{
	color:#2b3340;
	
}
.question{
	font-weight:700;
	width:100%;
}
.question-input{
	width:100%;
	padding-top:5%;
	border:none;
	border-bottom:3.5px dotted gray;
	padding-bottom:2%;
	outline:none;
}


h3{
	font-weight:600;
	padding-bottom:5%;
}
.listHead{
	padding-bottom:0%;
}
.survey-line{
	opacity:0.8;
    border-style: inset;
    border-width: 0px;
	width:100%;
	border:0.5px solid #2b3340;
	margin-bottom:10%;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:10001;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  margin-top:-2%;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.box{
	margin-top:1%;
	max-height:650px;
	width:100%;
	border:0px solid #ccc;
	font-family: 'Lato', sans-serif;
	overflow:auto;
}
.popup {
  margin: 70px auto;
  padding: 5%;
  background: #fff;
  border-radius: 5px;
  width:50%;
  position: relative;
  overflow:auto;
}
.popup h2 {
  margin-top: 0;
  color: #333;
    font-family: 'Lato', sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.popup .close:hover {
  color: red;
}
.popup .content {
  max-height: 30%;
  overflow-y: visible;
}

/*popup form */



.main-button-href{
	color:#2b3340;
}
.main-button-survey{
	margin-top:3%;
	margin-bottom:0%;
	border:1px solid #2b3340;
	padding:2%;
	background:transparent;
}
.main-button{
	margin-top:3%;
	margin-bottom:5%;
	border:1px solid #2b3340;
	padding:1%;
	background:transparent;
}
.main-button:hover,
.main-button-survey:hover{
	background:#2b3340;
	color:white;
}

.list-section{
	margin-left:15%;
	margin-top:-5%;
	width:100%;
}
.list-remove{
	position:relative;
	float:right;
	font-weight:700;
	margin-top:5%;
	font-size:150%;
	color:red;
}
.list-remove:hover{
	cursor:pointer;
	opacity:0.7;
}


.list-ul {
  list-style-type: none;
  width: 100%;
}
 

.list-li img {
  float: left;
  margin-top:2.5%;
  margin-right:4%;
}
 
.list-li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
.list-li {
  padding: 10px;
  padding-left:10%;
  padding-right:10%;
  overflow: auto;
}
 
.list-li:hover {
  background: #eee;
}



@media (max-width: 768px){
	.portfolio-list-title{
		bottom: 10%;
		color: #14181c;
	}
	.list-section{
		margin-left:0;
	}
	.list-ul{
		width:100%;
	}
	.popup{
		width:100%;
		position:absolute;
		margin:0;
		bottom:0;
		padding-top:20%;
		top:0;
	}
	.right-side{
		width:70%;
		padding-left:5%;
		margin-right:0;
	}
	.left-side{
		padding-left:5%;
	}
	
	
	
}